
body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', sans-serif;
}

section {
  padding: 80px 20px;
  text-align: center;
  color: white;
}

.bg-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.9);
}

.bg-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 0;
}

.bg-section > * {
  position: relative;
  z-index: 1;
}


#bg1 {
  background-image: url('../media/images/Slovenia1.jpg');
}
#bg2 {
  background-image: url('../media/images/Slovenia2.jpg');
}
#bg3 {
  background-image: url('../media/images/Slovenia3.jpg');
}

.content {
  background-color: #1e1e1e;
  color: white;
  padding: 60px 20px;
  text-align: left;
}

main {
  position: relative;
  background-image: url('../media/images/Slovenia3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  padding-top: 60px;
  padding-bottom: 60px;
}


section.content {
  background-color: transparent;
}

main::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 0;
}

main > * {
  position: relative;
  z-index: 1;
}

